@{
    ViewBag.Title = "Home Page";
}


<br />
<p style="font-size:26px;"><b>What would you like to do?</b></p>
<br />
<div class="row">
    <div class="col-md-3 card">
        <p class="card_title_text"><b>Find Bank IFSC Code</b></p>
        <p class="card_desc_text">Get the Bank IFSC Code using bank name,city and state</p>

        <img class="search_icon_glyph" src="~/Resources/icon_bank_search.png" />
    </div>
    <div class="col-md-3 card">
        <p class="card_title_text"><b>Find Bank MICR Code</b></p>
        <p class="card_desc_text">Get the Bank MICR Code using bank name,city and state</p>

        <img class="search_icon_glyph" src="~/Resources/icon_bank_search.png" />
    </div>

    <div class="col-md-3 card">
        <p class="card_title_text"><b>Get Bank Details using IFSC Code</b></p>
        <p class="card_desc_text">Get the all the details of your required bank using bank IFSC code</p>

        <img class="search_icon_glyph" src="~/Resources/icon_bank_search.png" />
    </div>

    <div class="col-md-3 card">
        <p class="card_title_text"><b>Get Bank Details using MICR Code</b></p>
        <p class="card_desc_text">Get the all the details of your required bank using bank MICR code</p>

        <img class="search_icon_glyph" src="~/Resources/icon_bank_search.png" />
    </div>


</div>
